<h1 class="page-header"><%= post.id.gsub( /\.markdown$/, '') %></h1>

<div class="row">

    <% if request.request_method == "POST" %>
        <% if post.error_messages.length == 0 %>
            <div class="alert alert-success" role="alert">
                <strong>Awesome!</strong> Categories was updated, should we also <a href="/deploy">deploy this change</a>?
            </div>
        <% else %>
            <div class="alert alert-danger" role="alert">
                <strong>Darn!</strong> Ran into some trouble:<br /><ul><li><%= post.error_messages.join('</li><li>') %></li></ul>
            </div>
        <% end %>
    <% end %>

    <div class="col-md-4">

        <h3>Categories</h3>

        <form method="post" action="/post/categories/<%= post.id %>?action=remove">

            <table class="table table-striped">
                <tbody>
                    <% post.settings['categories'].each do |category| %>
                    <tr>
                        <td width="20"><input type="checkbox" name="categories[]" value="<%= category %>" /></td>
                        <td><%= category %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary">Remove</button>
            <a class="btn btn-default" href="/post/edit/<%= post.id %>" role="button">Back to post</a>
        </form>

    </div>

    <div class="col-md-4">

        <form method="post" action="/post/categories/<%= post.id %>?action=create">
            <h3>New category</h3>

            <div class="form-group">
                <input type="text" class="form-control" id="category" name="category" placeholder="new category name" />
            </div>

            <button type="submit" class="btn btn-primary">Add to post</button>
        </form>

    </div>
    <div class="col-md-4">

        <h3>Existing categories</h3>

        <form method="post" action="/post/categories/<%= post.id %>?action=add">

            <table class="table table-striped">
                <tbody>
                    <% post.all_categories.each do |category| %>
                    <% unless post.settings['categories'].include? category %>
                    <tr>
                        <td width="20"><input type="checkbox" name="categories[]" value="<%= category %>" /></td>
                        <td><%= category %></td>
                    </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary">Add to post</button>
        </form>

    </div>

</div>
