<h1 class="page-header">Jekyll websites</h1>

<div class="table-responsive">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Production URL</th>
        </tr>
        </thead>
        <tbody>
            <% @sites.each do |site| %>
            <tr>
                <td><a href="/hyde/select?id=<%= site.id %>"><%= site.id %></a></td>
                <td><%= site.config['title'] %></td>
                <td><a href="<%= site.config['url'] %>"><%= site.config['url'] %></a></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <a class="btn btn-primary" href="/hyde/create" role="button">Create website</a>

</div>
