<%
    env_name = params[:environment]
    environment = site.config['utterson_deploy'][ env_name ]
%>
<h1 class="page-header">Deploy to <%= env_name %></h1>

<% if deploy.error_messages.length > 0 %>
    <div class="alert alert-danger" role="alert">
        <strong>Darn!</strong> Ran into some trouble, see output below.
    </div>
<% else %>
    <div class="alert alert-success" role="alert">
        <strong>Awesome!</strong> Deployed successfully to <%= env_name %> - go to <a href="<%= environment['url'] %>" target="_new"><%= environment['url'] %></a> ?
    </div>
<% end %>

<div class="row">
    <form method="post" action="/deploy/to/<%= env_name %>/confirmed">

        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" rows="20" style="font-family: Consolas, Lucida Console, monospace; color: #FFF; background: #000;" disabled><%= deploy.full_output.join("\n\n") %></textarea>
            </div>
        </div>

    </form>
</div>
